<div class="destination-grid">
  <mat-card *ngFor="let dest of destinations" class="destination-card">
    <img mat-card-image [src]="dest.image" [alt]="dest.name">
    <mat-card-header>
      <mat-card-title>{{ dest.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ dest.description }}</p>
      
      <div *ngIf="packages[dest.id] && packages[dest.id].length > 0">
        <h3>Available Packages:</h3>
        <div class="package-list">
          <div *ngFor="let pkg of packages[dest.id]" class="package-item">
            <div class="package-info">
              <span class="package-name">{{ pkg.name }}</span>
              <span class="package-duration">{{ pkg.duration }}</span>
              <span class="package-price">${{ pkg.price }}</span>
            </div>
            <a mat-raised-button color="primary" [routerLink]="['/package', pkg.id]">Details</a>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>